<% tags = @instagram_arts.tags.split %>

<div class="row pre-head">

</div>
<div class="row image-container">
  <div class="large-12 image-wrapper">
    <%= image_tag @instagram_arts.image_url, alt: @instagram_arts.tags %>
  </div>
</div><!-- div.image-container -->
<div class="row primary-actions">
  <div class="large-12 column">
    <div class="row button-wrapper">
      <div class="text-center  large-6 medium-6 small-6 column">
        <a href="#" class="small-12 tiny button round secondary">
          Map
        </a>
      </div>
      <div class="text-center  large-6 medium-6 small-6 column">
        <a href="#" class="small-12 tiny button round primary">
          Share
        </a>
      </div>
    </div><!-- div.button-wrapper -->
    <div class="fr secondary-button-wrapper row column ">
      <div class="">
        <a href="#" class="flag-button">Flag this image</a>
      </div>
    </div><!-- div.secondary-button-wrapper -->
  </div>
</div><!-- div.primary-actions -->

<div class="row secondary-actions border-bottom">
  <div class="small-7 column">
    <div class="row distance-holder border-bottom">
      <h4>0.01 miles away</h4>
      <h4 class="subheader">North-east</h4>
    </div>
    <div class="row tag-container border-bottom">
      <% tags.each do |tag| %>
      <h5><%= tag %></h5>
      <% end %>
    </div>
    <div class="row credit-container">
      <h3 class="credit-photo">Photographer</h3>
    </div>
  </div>
  <div class="small-5 column">
    <div class="large-12 image-wrapper row">
        <%= link_to "comgooglemaps-x-callback://?center=#{@instagram_arts.latitude},#{@instagram_arts.longitude}
         &x-success=artfoundapp://?resume=true
         &x-source=Return%2Cto%2CArtfound" do %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=408x518&sensor=false&zoom=16&markers=#{@instagram_arts.latitude}%2C#{@instagram_arts.longitude}" %>
      <% end %>
    </div>
  </div>
</div>
