<title>PublicArt: <%= content_for?(:title) ? yield(:title) : "Find street art near you" %></title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="author" content="Leonard Bogdonoff">
<meta name="subject" content="iOS application">
<meta name="Keywords" content="graffiti, street art, public art app, graffiti app, street art app, public art found, publicartio, graffiti found, rememberlenny">
<meta name="Geography" content="New York">
<meta name="Language" content="English">
<meta HTTP-EQUIV="CACHE-CONTROL" content="PUBLIC">
<meta name="Copyright" content="New Public Art Foundation">
<meta name="Designer" content="A Triangle Corporation">
<meta name="Publisher" content="New Public Art Foundation">
<meta name="distribution" content="Global">
<meta name="Robots" content="INDEX,FOLLOW">
<meta name="city" content="New York City">
<meta name="country" content="USA">

<!-- Place this data between the <head> tags of your website -->
<meta name="description" content="Use Public Art to discover the street art and graffiti you didnt know existed. Find the art that isn't restricted by time of day or cost of entry! " />

<!-- Twitter Card data -->
<meta name="twitter:card" value="PublicArt: iOS app to find street art nearest you">

<!-- Open Graph data -->
<meta property="og:title" content="PublicArt: iOS app to find street art nearest you" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.publicart.io/" />
<meta property="og:image" content="http://www.publicart.io/assets/images/public-art-logo.png" />
<meta property="og:description" content="Use Public Art to discover the street art and graffiti you didnt know existed. Find the art that isn't restricted by time of day or cost of entry!" />

<!-- <meta name="apple-itunes-app" content="app-id=711923939"> -->
<meta content="app" name="twitter:card">
<meta content="@publicartfound" name="twitter:site">
<meta content="https://www.publicart.io" name="twitter:url">
<meta content="http://newpublicartfoundation.com/images/npaf-logo.png" name="twitter:image">
<meta content="Public Art" name="twitter:title">
<meta name="twitter:app:country" content="US">
<meta name="twitter:app:name:iphone" content="Public Art">
<meta name="twitter:app:id:iphone" content="936484924">
<%= csrf_meta_tags %>
