<div class="row">
  <h3>Public Art sources</h3>
  <div class="large-12 column tag-count-graph">
    <canvas id="myChart" width="600" height="400"></canvas>
  </div>
</div>
<div class="row">
  <div class="large-4 column medium-4">
    <h4>% Graffiti</h4>
  </div>
  <div class="large-4 column medium-4">
    <h4>% Geotagged</h4>
  </div>
  <div class="large-4 column medium-4">
    <h4>% Growth</h4>
  </div>
</div>

<script>
  var data = {
    labels: <%= @all_days.to_json.to_s.html_safe %>,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: <%= @all_rates.to_json.to_s.html_safe %>
        }
    ]
  };

  var options = {
    scaleShowGridLines : true,
    scaleGridLineColor : "rgba(0,0,0,.05)",
    scaleGridLineWidth : 1,
    bezierCurve : true,
    bezierCurveTension : 0.4,
    pointDot : true,
    pointDotRadius : 4,
    pointDotStrokeWidth : 1,
    pointHitDetectionRadius : 20,
    datasetStroke : true,
    datasetStrokeWidth : 2,
    datasetFill : true
  };
</script>

<script>
  var ctx = document.getElementById("myChart").getContext("2d");
  var myLineChart = new Chart(ctx).Line(data, options);
</script>

