<div class="hero large-12">
  <div class="row ">
    <div class="large-centered margin-top column text-center">
      <%= image_tag "logo-transparent.png" %>
      <h1 class="upcase">Public Art is here!</h1><br>
      <h2>A iOS application to find nearby street art and graffiti.</h2>
    </div>
  </div>
</div>
