<div class="head-intro text-center margin-top margin-bottom">
</div>
<div class="section-text text-center row">
  <div class="large-8 column large-centered margin-top-half">
    <p>Download the app and search your current location.</p>
    <p>Start discovering new street art nearby.</p>
    <p>Thousands of new geotagged images added daily.</p>
  </div>
</div>
