<div class="head-intro text-center margin-top">
  <h1>How it works</h1>
  <div class="row">
    <div class="large-6 column vert-line"></div>
    <div class="large-6 column"></div>
  </div>
</div>
<div class="section-text text-center row">
  <div class="large-8 column large-centered margin-top-half">
    <p>Download the app and search your current location.</p>
    <p>Start discovering new street art nearby.</p>
    <p>Thousands of new geotagged images added daily.</p>
  </div>
</div>
