<div class="row">
  <h3>Most recent added</h3>
  <div class="large-12 medium-12 small-12 column large-centered">
    <ul class="large-block-grid-5 medium-block-grid-4 small-block-grid-2">
      <% @graffitis.each do |graffiti| %>
        <li class="text-center">
          <%= image_tag graffiti.image_url %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
