<div class="head-intro text-center">
  <h1>See the demo</h1>
  <div class="row">
    <div class="large-6 column vert-line"></div>
    <div class="large-6 column"></div>
  </div>
</div>
  <div class="margin-top-quarter flex-video widescreen vimeo" id="trailer">
    <iframe src="//player.vimeo.com/video/112608950?title=0&amp;byline=0&amp;portrait=0" width="1800" height="812" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="margin-top head-intro text-center">
    <h1>Public Art is open-source.</h1>
    <div class="row">
      <div class="large-6 column vert-line"></div>
      <div class="large-6 column"></div>
    </div>
  </div>
  <div class="margin-top-quarter large-7 column large-centered">
    <ul class="large-block-grid-2">
      <li>
        <div class="large-6 column">
          <ul class="no-bullet">
            <li>
                <%= link_to 'https://github.com/NewPublicArtFoundation/publicart' do %>
                  <h5>
                    Public Art Rails App
                  </h5>
                <% end %>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/publicart" data-icon="octicon-star" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/stargazers" data-count-api="/repos/NewPublicArtFoundation/publicart#stargazers_count">Star</a>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/publicart" data-icon="octicon-git-branch" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/network" data-count-api="/repos/NewPublicArtFoundation/publicart#forks_count">Fork</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="large-6 column">
          <ul class="no-bullet">
            <li>
                <%= link_to 'https://github.com/NewPublicArtFoundation/GraffitiFound' do %>
                  <h5>
                    Public Art iOS App
                  </h5>
                <% end %>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/GraffitiFound" data-icon="octicon-star" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/stargazers" data-count-api="/repos/NewPublicArtFoundation/publicart#stargazers_count">Star</a>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/GraffitiFound" data-icon="octicon-git-branch" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/network" data-count-api="/repos/NewPublicArtFoundation/publicart#forks_count">Fork</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </div>

