<div class="inverse-color margin-top">
  <div class="row"></div>
  <div class="margin-top-half head-intro text-center">
    <h1>WHAT PEOPLE ARE SAYING</h1>
    <div class="row">
      <div class="large-6 column vert-line"></div>
      <div class="large-6 column"></div>
    </div>
  </div>
  <div class="margin-top-quarter large-7 column large-centered margin-bottom-half">
    <ul class="large-block-grid-2 text-center white">
      <li><a href="http://laughingsquid.com">Laughing Squid</a></li>
      <li><a href="http://thefjp.org">The Future Journalism Project</a></li>
    </ul>
  </div>
  <div class="row">
    <blockquote>Public Art, A Mobile App for Discovering and Learning About Nearby Street Art</blockquote>
  </div>
</div>
