<div class="head-intro text-center margin-top">
  <h1>See the demo</h1>
  <div class="row">
    <div class="large-6 column vert-line"></div>
    <div class="large-6 column"></div>
  </div>
</div>
<div class="margin-top-quarter flex-video widescreen vimeo" id="trailer">
  <iframe src="//player.vimeo.com/video/112608950?title=0&amp;byline=0&amp;portrait=0" width="1800" height="812" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
