
<div class="row">
  <div class="large-9 column medium-centered large-centered">
  <h1>How does Public Art work?</h1>

  <p>1. PublicArt.io works with existing online image services to access the most up-to-date pictures. We keep a realtime subscription feed with services like Instagram or Flickr. This allows us to access tens and thousands of pictures everyday. We use the various tag and filtering methods to identify images we want.</p>
  <p>Because we these photos are not manually curated, we sometimes find non-graffiti images. This is why we created the "Flag" feature in the app! Flagging notifies us to run the image across a algorithim that does explicit image analysis to identify the image content. We selectively run this check to improve performance.</p>
  <p>2. We save references to all the images that contain the geolocation meta data. For example, if an image is tagged #graffiti, but doesnt have a location associated to it, we dont save it. On the other hand, if it is tagged #graffiti and someone noted that it was photographed in New York, we save it.</p>
  <p>Approximately 20% of the images we identify are eligible for reference in Public Art. From the hundreds of thousands that we identify everyday, we only save a few thousand.</p>
  <p>3. Public Art app uses your iPhone's GPS to access your current location. Using your current location, Public Art can run geo-queries to find images that are closest to you.</p>
  <p>We reduce drain on your battery life by only doing GPS checks when you initialize them. We never check your location without you asking us to.</p>

  </div>
</div>
<%= render 'modules/opensource' %>
