<%= render 'modules/most_recent_pulled' %>
<div class="row text-center load-more-wrapper">
  <a href="#" class="button load-more-status">Load More</a>
</div>

<script>
  $('.load-more-status').on('click', function(e){
    e.preventDefault();
    console.log('Clicked');
    if(isProcessing == false){
      checkLoadMore();
    } else {
      console.log('Is currently processing');
    }
  });
  var nextToLoad = 2;
  var isProcessing = false;
  var startProcessing = function(){
    isProcessing = true;
  }
  var endProcessing = function(){
    isProcessing = false;
  }
  var checkLoadMore = function(){
    startProcessing();
    $.ajax({
        url: "http://localhost:8080/most_recent/" + nextToLoad,
        type: "GET",
        success: function(data){
          endProcessing();
          nextToLoad = nextToLoad + 1;
          $('.most_recent_content').append(data);
        }
    });
  }
</script>
