<h1>Public Art Partnerships</h1>

<% link_to 'Check out the Public Art channel on IFTTT', 'https://ifttt.com/publicart' %>
<%= link_to 'https://ifttt.com/publicart' %>
  <%= image_tag 'https://d3rnbxvnd0hlox.cloudfront.net/assets/r2012/ifttt_wordmark_screen-a2b609fdfe466c31c205a117e3a35ef2.png' %>
<% end %>
