<h1>A big thank you to:</h1>

<p>This project has been a labor of love. In the process, many people have been hugely supportive and downright helpful. </p>

<h2>Thank yous go out to you.</h2>

<ul>
  <li><a href="https://twitter.com/orbitalnyc">Orbital and company</a></li>
  <li><a href="https://twitter.com/gregbarbosa">Greg Barbosa for iOS troubleshooting</a></li>
  <li><a href="http://laughingsquid.com">Laughing Squid for the coverage</a></li>
  <li><a href="http://thefjp.org">The Future Journalism Project for the coverage!</a></li>
</ul>
