// Place all the styles related to the InstagramArts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-wrapper{
  .index-out &{
    transform: translateX(-100%);
  }
}

.map-wrapper{
  transform: translateX(-100%);
  .index-out &{
    transform: translateX(0%);
  }
}
