  <div class="row large-9 column large-centered">
    <div class="large-4 column">
      <h3>Access anywhere</h3>
      <p>Pull down and immediately start discovering nearby street art.</p>
    </div>
    <div class="large-4 column">
      <h3>Personalize</h3>
      <p>Track images that you like and flag ones you dont. Public Art will remember.</p>
    </div>
    <div class="large-4 column">
      <h3>Share Easily</h3>
      <p>Each image and map can be easily shared through the PublicArt.io website.</p>
    </div>
  </div>
