<div class="image-background large-12 homeroom"></div>
<div class="section-text text-center row">
  <div class="large-8 column large-centered margin-top-half">
    <p>Pull down and immediately start discovering nearby street art.</p>
    <p>Track images that you like and flag ones you dont. Public Art will remember.</p>
    <p>Each image and map can be easily shared through the PublicArt.io website.</p>
  </div>
  <div class="large-11 column large-centered margin-top-half">
    <ul class="sugerpoint large-block-grid-3 text-left">
      <li>Access anywhere</li>
      <li>Personalize</li>
      <li>Share Easily</li>
    </ul>
  </div>
</div>
