<nav class="">
  <ul class="inline-list desktop-left">
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Privacy', privacy_path %></li>
    <li><%= link_to 'Blog', '//blog.publicart.io/' %></li>
  </ul>
</nav>
