<div class="hero large-12">
  <div class="row ">
    <div class="large-centered margin-top column text-center">
      <img src="/img/logo-sm.png" alt="">
      <h1 class="upcase">Public Art is here!</h1><br>
      <h2>A iOS </h2>
    </div>
  </div>
</div>
