<div class="row large-9 column large-centered medium-centered">
  <div class="column">

    <h3>How does Public Art work?</h3>
    <p>Public Art uses three main points to bring you nearby graffiti.</p>

    <%= link_to 'Learn how it works', explain_path, :class=>"button small" %>

  </div>
</div>
