 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PublicArt: <%= content_for?(:title) ? yield(:title) : "Find street art near you" %></title>
    <META NAME="author" CONTENT="Leonard Bogdonoff">
    <META NAME="subject" CONTENT="iOS application">
    <META NAME="Description" CONTENT="Find the art that isn't restricted by time of day or cost of entry! Use Public Art to discover the street art and graffiti you didnt know existed.">
    <META NAME="Keywords" CONTENT="graffiti, street art, public art app, graffiti app, street art app, public art found, publicartio, graffiti found, rememberlenny">
    <META NAME="Geography" CONTENT="New York">
    <META NAME="Language" CONTENT="English">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
    <META NAME="Copyright" CONTENT="New Public Art Foundation">
    <META NAME="Designer" CONTENT="A Triangle Corporation">
    <META NAME="Publisher" CONTENT="New Public Art Foundation">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="Robots" CONTENT="INDEX,FOLLOW">
    <META NAME="city" CONTENT="New York City">
    <META NAME="country" CONTENT="USA">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="Use Public Art to discover the street art and graffiti you didnt know existed. Find the art that isn't restricted by time of day or cost of entry! " />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="PublicArt: iOS app to find street art nearest you">

    <!-- Open Graph data -->
    <meta property="og:title" content="PublicArt: iOS app to find street art nearest you" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.publicart.io/" />
    <meta property="og:image" content="http://www.publicart.io/assets/images/public-art-logo.png" />
    <meta property="og:description" content="Use Public Art to discover the street art and graffiti you didnt know existed. Find the art that isn't restricted by time of day or cost of entry!" />

    <!-- <meta name="apple-itunes-app" content="app-id=711923939"> -->
    <meta content="app" name="twitter:card">
    <meta content="@publicartfound" name="twitter:site">
    <meta content="https://www.publicart.io" name="twitter:url">
    <meta content="http://newpublicartfoundation.com/images/npaf-logo.png" name="twitter:image">
    <meta content="Public Art" name="twitter:title">
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:app:name:iphone" content="Public Art">
    <meta name="twitter:app:id:iphone" content="936484924">

