<li><%= link_to 'About', about_path, :class => 'no-span login no-right-pad' %></li>
<li><%= link_to 'Privacy', privacy_path, :class => 'no-span login no-right-pad' %></li>
<li><%= link_to 'Blog', '//blog.publicart.io/', :class => 'no-span login no-right-pad' %></li>
<li><%= link_to 'Thanks', thanks_path, :class => 'no-span login no-right-pad' %></li>
