
<div class="row ">
  <div class="large-9 column medium-centered large-centered panel">
    <div class="row">
      <div class="large-10 column large-centered medium-centered">
        <p></p>
        <div class="column">
          <ul class="no-bullet">
            <li>
              <%= link_to 'http://github.com/newpublicartfoundation' do %>
                <h3 class="">
                  New Public Art Foundation Organization
                </h3>
                <p><p>All the code that runs Public Art is open-source. Public Art depends on a iOS application, a Ruby on Rails backend API, and an existing virtual machine image. The iOS app and the rails backend are entirely open-source.</p></p>
              <% end %>
            </li>

          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-10 column large-centered medium-centered">
        <div class="large-6 column">
          <ul class="no-bullet">
            <li>
                <%= link_to 'https://github.com/NewPublicArtFoundation/GraffitiFound' do %>
                  <h5>
                    Public Art iOS App
                  </h5>
                <% end %>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/GraffitiFound" data-icon="octicon-star" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/stargazers" data-count-api="/repos/NewPublicArtFoundation/publicart#stargazers_count">Star</a>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/GraffitiFound" data-icon="octicon-git-branch" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/network" data-count-api="/repos/NewPublicArtFoundation/publicart#forks_count">Fork</a>
            </li>
          </ul>
        </div>
        <div class="large-6 column">
          <ul class="no-bullet">
            <li>
                <%= link_to 'https://github.com/NewPublicArtFoundation/publicart' do %>
                  <h5>
                    Public Art Rails App
                  </h5>
                <% end %>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/publicart" data-icon="octicon-star" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/stargazers" data-count-api="/repos/NewPublicArtFoundation/publicart#stargazers_count">Star</a>
            </li>
            <li>
              <a class="github-button" href="https://github.com/NewPublicArtFoundation/publicart" data-icon="octicon-git-branch" data-style="mega" data-count-href="/NewPublicArtFoundation/publicart/network" data-count-api="/repos/NewPublicArtFoundation/publicart#forks_count">Fork</a>
            </li>
          </ul>
        </div>
        <%= link_to 'Reach out to learn more', 'mailto:rememberlenny.com', :class=>'button large-12' %>
      </div>
    </div>

  </ul>
  <!-- Place this tag right after the last button or just before your close body tag. -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </div>
</div>
