<!DOCTYPE html>
<html>
<head>
  <title>Geotagged Graffiti API</title>
  <%= render 'layouts/inline_styles' %>
  <%= render 'layouts/mobile_page_styles' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
</head>
<body>

<%= yield %>

<script>
  function connectWebViewJavascriptBridge(callback) {
      console.log('running');
      if (window.WebViewJavascriptBridge) {
          callback(WebViewJavascriptBridge)
      } else {
          document.addEventListener('WebViewJavascriptBridgeReady', function() {
              callback(WebViewJavascriptBridge)
          }, false)
      }
  }

  connectWebViewJavascriptBridge(function(bridge) {
      /* Init your app here */
      console.log('running');
      bridge.init(function(message, responseCallback) {
          alert('Received message: ' + message)
          if (responseCallback) {
              responseCallback("Right back atcha")
          }
      })

      bridge.send('Hello from the javascript');
  });

  $('.share-button').on('click', function(){
    WebViewJavascriptBridge.callHandler("shareButtonPressed");
  });

  $('.flag-button').on('click', function(){
    WebViewJavascriptBridge.callHandler("flagButtonPressed");
  });

</script>

</body>
</html>
