<!DOCTYPE html>
<html>
<head>
  <title>Graffpass</title>
  <%= render 'layouts/inline_styles' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
</head>
<body>
<%= yield %>

</body>
</html>
